body{
    margin: 0;
}

.container{
    max-width: 100%;
    background-color: aqua;
    background-image: url('../img/pattern.png');

}

img{
    max-width: 100%;
}

.logo{
    width: 150px;
    margin-top: 50px;
    margin-left: 10px;
    
}

.title{
    font-size: 3rem;
    margin: 10px 10px 0 10px;
}

.text{
    color: grey;
    font-style: normal;
    margin-left: 10px;
}

.color-text{
    color: blue;
}

.minor-text{
    font-size:x-small;
}